
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, rgb(55, 50, 67));
    padding: 20px;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.parent-card {
    display: flex;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #d4cddaee;
    margin-bottom: 20px;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #BBE0EF;
}

button {
    padding: 10px 20px;
    background: #5e2208;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.weather-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-left: 4px solid #F16D34;
    margin-bottom: 6px;
    background: #97c6a8;
}

.history button {
    margin: 5px;
    padding: 6px 14px;
    border-radius: 10px;
    color:rgb(196, 219, 219)
}

@media (max-width:700px){
    .parent-card {
        flex-direction: column;
    }
}

